* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.all {
    max-width: 1200px;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .all1 {
        display: flex;
        gap: 30px;
        align-items: center;
        color: rgba(30, 30, 30, 1);
    }

    .all2 {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .all2 button {
        padding: 15px 30px;
        border-radius: 30px;
        border: none;
        background: linear-gradient(rgb(52, 204, 52));
        color: white;
        box-shadow: 3px 10px 0px rgba(127, 202, 6, 0.062);
    }

    .all3 {
        display: none;
    }
}

.zll {
    max-width: 1200px;
    height: 520px;
    background-image: url(./Image-00.png);
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 50px;

    .zll1 {
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        padding: 0px 80px;
    }

    .zll2 h1 {
        font-size: 40px;
    }

    .zll2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .zll2 p {
        width: 250px;
        font-size: 18px;
        line-height: 22px;
    }

    .zll4 {
        width: 270px;
    }

    .zll4 p {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .zll3 {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.sll {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sll1 h1 {
        width: 400px;
        color: rgba(50, 54, 56, 1);
    }

    .sll1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sll1 p {
        color: rgba(116, 116, 116, 1);
        line-height: 22px;
    }

    .sll3 {
        display: none;
    }
}

.vll {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

    .vll1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 44px;
        text-align: center;
        font-weight: 400;
    }

    .vll3 {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
    }

    .vll4 {
        width: 320px;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0px 10px;
    }

    .vll4 h3 {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .vll4 p {
        padding-left: 60px;
        color: gray;
    }
}

.dll {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-top: 50px;

    .dll1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .dll1 button {
        padding: 15px 30px;
        border-radius: 30px;
        border: none;
        background: linear-gradient(rgb(52, 204, 52));
        color: white;
        box-shadow: 3px 10px 0px rgba(127, 202, 6, 0.062);
    }

    .dll2 {
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .img3 {
        width: 25%;
    }

    .img4 {
        width: 50%;
    }

    .dll3 {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-bottom: 10px;
    }

    .dll4 img {
        width: 100%;
    }

    .dll5 {
        display: none;
    }
}

.ppp {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-top: 50px;

    .ppp1 {
        width: 100%;
        margin: auto;
    }

    .ppp1 h1 {
        text-align: center;
    }

    .ppp2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .ppp3 {
        width: 100%;
        height: 580px;
        border: 1px solid rgb(218, 217, 217);
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
    }

    .ppp4 {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ppp6 {
        display: flex;
        gap: 300px;
    }

    .ppp6 button {
        padding: 15px 30px;
        border-radius: 30px;
        border: none;
        background: linear-gradient(rgb(38, 128, 38));
        color: white;
        box-shadow: 3px 10px 0px rgba(127, 202, 6, 0.062);
    }

    .p1 {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .img5 {
        width: 600px;
    }
}
.rll{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-top: 50px;

    .rll1 {
        width: 100%;
        margin: auto;
    }

    .rll1 h1 {
        text-align: center;
    }
    .rll3{
        width: 300px;
        height: 450px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .rll4{
        width: 300px;
        height: 450px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .rll2{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .rll3 h4{
        color: rgba(113, 171, 40, 1);
        text-decoration: underline;
        line-height: 22px;
    }
    .rll4 h4{
        color: rgba(113, 171, 40, 1);
        text-decoration: underline;
        line-height: 22px;
    }
}
.kll{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    padding-top: 50px;
    .kll1{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .kll1 p{
        line-height: 22px;
    }
    .kll2{
        display: flex;
        gap: 30px;
    }
}
.jll{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    padding-top: 50px;
}
@media(max-width:610px) {
    .all {
        width: 90%;

        .all1 {
            display: none;
        }

        .all2 {
            display: none;
        }

        .all3 {
            display: block;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .all3 img {
            width: 30px;
        }

        .img1 {
            width: 200px;
        }
    }

    .zll {
        width: 90%;
        height: 600px;
        background-image: url(./Image-00\ \(1\).png);
        background-size: 100%;
        text-align: center;

        .zll1 {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .zll2 {
            text-align: center;
        }

        .zll3 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: start;
        }
    }

    .sll {
        display: flex;
        flex-direction: column;

        .sll1 p {
            display: none;
        }

        .sll3 {
            display: block;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 90%;
        }

        .sll2 img {
            width: 100%;
        }

        .sll1 h1 {
            width: 90%;
            margin: auto;
        }
    }

    .vll {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-top: 40px;

        .vll1 {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .vll2 img {
            width: 100%;
        }

        .vll3 {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 40px;
        }

        .vll4 {
            width: 90%;
            font-size: 18px;
        }
    }

    .dll {
        width: 100%;
        display: flex;
        flex-direction: column;

        .img3 {
            display: none;
        }

        .img4 {
            width: 90%;
            margin: auto;
        }

        .dll5 {
            display: block;
        }

        .dll5 button {
            padding: 25px 70px;
            border-radius: 30px;
            border: none;
            background: linear-gradient(rgb(52, 204, 52));
            color: white;
            box-shadow: 3px 10px 0px rgba(127, 202, 6, 0.062);
        }

        .dll1 button {
            display: none;
        }

        .dll1 {
            width: 90%;
        }

        .dll4 {
            width: 100%;
            text-align: center;
        }

        .dll4 img {
            width: 90%;
        }
    }

    .ppp {
        height: auto;

        .ppp1 {
            display: flex;
            flex-direction: column;
        }

        .ppp3 {
            display: flex;
            flex-direction: column;
            height: auto;
        }

        .ppp6 button {
            display: none;
        }

        .ppp5 img {
            width: 100%;
        }

        .img5 {
            width: 100%;
        }
    }
    .rll{
        height: auto;
        display: flex;
        flex-direction: column;
        .rll2{
            display: flex;
            flex-direction: column;
        }
        .rll3{
            display: none;
        }
        .rll4{
            width: 90%;
            margin: auto;
        }
    }
    .kll{
        display: flex;
        flex-direction: column;
    }
    .jll{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}